/**************************************************/
/*HEADER*/
/**************************************************/
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    background-color: var(--darkerGrey);
    padding: 2rem;
    font-family: "Roboto";
    a{
        text-decoration: none;
        color: var(--white);
    }
    nav{
        width: 50%;
        ul{
            display: flex;
            justify-content: space-between;
            a{
                text-transform: uppercase;
                font-size: 1.8rem;
            }
        }
    }
}