/**************************************************/
/*TEAM A LA UNE*/
/**************************************************/
.teamALaUne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    width: 90%;
    padding: 3rem;
    border: 1px solid var(--darkGrey);
    h3{
        color: var(--yellow);
    }
    .content-team{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 500px;
        .logo-team-alaune{
            height: 80%;
        }
        .grid-teamALaUne{
            display: grid;
            grid-template: 0.2fr 0.2fr 2.6fr/repeat(3, 1fr);
            width: 60%;
            height: 80%;
            gap: 2rem;
            h4{
                grid-column: 1 / 4;
                color: var(--yellow);
                font-family: "Ubuntu";
                font-size: 2.4rem;
            }
            .players-teamALaUne{
                grid-column: 1 / 4;
                font-family: "Ubuntu";
                font-size: 1.8rem;
                color: var(--white);
            }
            figure{
                img{
                    width: 100%;
                }
                p{
                    color: var(--pink);
                    font-family: "Ubuntu";
                    font-size: 1.8rem;
                    text-align: right;
                    text-transform: uppercase;
                }
            }
        }
    }
}