/**************************************************/
/*TEAM A LA UNE*/
/**************************************************/
.teamALaUne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
    .content-team{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 2.5rem;
        .grid-team{
            display: grid;
            width: 60%;
            grid-template: 0.5fr 0.5fr 2fr/repeat(3, 1fr);
            h4{
                grid-column: 1 / 4;
            }
            .players{
                grid-column: 1 / 4;
            }
        }
    }
}